<div class="cadastro-container">
  <div class="form-content">
    <h2>Cadastro de Relatório</h2>
    <p>
      Utilize este formulário para salvar a configuração de um novo relatório.
      Você pode especificar um título, o nome do relatório e a consulta SQL necessária.
      Essas informações são importantes para gerar relatórios dinâmicos no DevExpress.
    </p>
    <form [formGroup]="form" (ngSubmit)="criarRelatorio()">
      <div class="input-group">
        <label for="report">Nome do relatório</label>
        <input type="text" id="report" formControlName="report" class="custom-input">

        <label for="tituloRelatorio">Descrição</label>
        <input type="text" id="tituloRelatorio" formControlName="tituloRelatorio" class="custom-input">

        <div class="input-group">
          <label for="report">Tenant</label>
          <select id="report" formControlName="tenant" class="custom-input">
            <option value="">Selecione uma ou mais tenants</option>
            <option *ngFor="let item of contas" [value]="item.tenant">{{ item.tenant }}</option>
          </select>
        </div>

        <div class="input-group">
          <label for="report">Grupo do relatório</label>
          <select id="report" formControlName="grupoRelatorioId" class="custom-input">
            <option value="">Selecione um grupo</option>
            <option *ngFor="let item of grupos" [value]="item.grupoRelatorioId">{{ item.descricao }}</option>
          </select>
        </div>
      </div>

      <div class="actions">
        <button type="submit" class="nav-btn">Salvar</button>
        <button type="button" (click)="voltar()" class="nav-btn-back">Voltar</button>
      </div>
    </form>
    <div class="info-text">
      <p>Salvar um cadastro de relatório permite a geração de documentos e análises personalizadas com o DevExpress.</p>
    </div>
  </div>
</div>