<div class="cadastro-container">
    <div *ngIf="!exibirInputVinculo" class="form-content">
        <div class="actions">
            <button class="nav-btn" (click)="vincularNovaTenant()">Vincular Nova Tenant</button>
            <button class="nav-btn nav-btn-back" (click)="voltar()">Voltar</button>
        </div>

        <div *ngIf="tenants && tenants.length > 0; else noData">
            <ul class="report-list">
                <li *ngFor="let tenant of tenants">
                    <div class="report-item">
                        <span>{{ tenant.cliente.tenant }}</span>
                        <div class="actions">
                            <button class="nav-btn nav-btn-back2"
                                (click)="selecionarParaDesvinculo(tenant.id)">❌</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template #noData>
            <div class="info-text">
                <p>Nenhum tenant encontrado.</p>
            </div>
        </ng-template>
    </div>

    <div *ngIf="exibirInputVinculo" class="input-group">
        <div class="input-group">
            <input type="checkbox" id="toggleTenantSelect" (change)="onCheckboxChange($event)" [(ngModel)]="checkbox">
            <label for="toggleTenantSelect">Todos os clientes</label>
        </div>

        <form [formGroup]="form">
            <div class="input-group">
                <label for="report">Cliente</label>
                <select id="report" formControlName="clientes" class="custom-input">
                    <option value="">Selecione um ou mais clientes</option>
                    <option *ngFor="let item of clientes" [value]="item.clienteId">{{ item.nome }}</option>
                </select>
            </div>
        </form>

        <div class="actions">
            <button class="nav-btn" (click)="vincular()">Vincular</button>
            <button class="nav-btn nav-btn-back" (click)="voltarVinculo()">Voltar</button>
        </div>
    </div>
</div>