$base-color: #ffffff;
$secondary-color: #4D6CA3;
$tertiary-color: #F6963B;

body {
  background-color: $base-color;
  font-family: 'Arial', sans-serif;
}

.nav-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;

  &.secondary {
    background-color: $secondary-color;
    color: $base-color;
  }

  &.tertiary {
    background-color: $tertiary-color;
    color: $base-color;
  }
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #4D6CA3;
  border-radius: 6px;
  border: 3px solid #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F6963B;
}